* {
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
}
.clear{
    margin-top: 10px;
    clear: both;
}
body {
    background-image: url();
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
}

.wrap {
    max-width: 1500px;
    margin: auto;
    padding: auto;
    background: white;
}

.navbar{
    max-width: 1500px;
    margin: auto;
    background: white;
;
  }

#banner {

    margin: 0;
    padding: 0;
}

#backtop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: none;
}

#Call {
    position: fixed;
    bottom: 20px;
    left: 5px;

}

.NoiDung span {
    font-style: italic;
}

.imageintro img {
    float: left;
}

.sanpham {
    padding: 0;
    margin: 0;
    max-height: 1500px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-family: monospace;

}

.lienhe {
    height: 400px;
    text-align: center;
}

.box {
    border: 1px solid gainsboro;
    border-top-width: 5px;
    padding: 20px;
}

.info {
    border-color: gainsboro;
}

.contact {
    border-color: gainsboro;
}

.company {
    border-color: gainsboro;
}

.info span {
    color: brown;

}

.contact span {
    color: brown;

}

.company span {
    color: brown;

}

.lienhe a:link {
    color: brown;
    text-decoration: none;
}

.lienhe a:hover {
    color: brown;
    text-decoration: none;
}

.lienhe a:active {
    color: brown;
    text-decoration: none;
}

.lienhe a:visited {
    color: brown;
    text-decoration: none;
}

a:link {
    color: brown;

}

a:hover {
    color: brown;

}

a:active {
    color: brown;

}

a:visited {
    color: brown;

}

.NoiDung.text {
    color: brown;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #777;
    padding-bottom: 20px;
}

h2 {
    color: brown;
    text-align: center;
}

h3 {
    color: brown;
    text-align: center;
}

h4 {
    color: brown;
    text-align: center;
}

.row {
    padding: 0;
    margin: 0;
}


.row img {
    padding-top: 20px;
    text-align: center;

}

.sanpham img:hover {
    transform: translate(0, -5px)
}

span {
    text-align: center;
}

.my-product-quantity{
    width: 60px;
}

@media (max-width:768px) {
    #backtop {
        display: none;
    }
}
@media (max-width:500px) { 
    #banner {
        display: none;
    }
}

#callButton {
    -webkit-animation: ringphone 2s infinite;
    -webkit-animation-iteration-count: infinite;

}

@media (min-width:1440px) {
    #callButton {
        display: none;
    }
    
}


@media (min-width:500px) and (max-width:1000px) {
    .product {
        width: 50%;
    }
}

.navbar-header {
    position: relative;
}

.market {
    position: absolute;
    right: 80px;
    top: 0;
}

.shopping-cart {
    position: relative;
}

.glyphicon {
    position: unset;
}

span.badge.badge-notify.my-cart-badge {
    position: absolute;
    right: 0;
    top: 0;
}

img.img-responsive {
    padding-top: 30px;
}

span {
    color: brown;
}

.icon{
    position: relative;
    bottom: 10px;
}

.product-clone {
    position: fixed;
    z-index: 9999;
}

.slide {
    position: relative;
    width: 100%;

}

.slide img {
    position: absolute;
    top: 0;
}


.fa-chevron-left{
    position: absolute;
    left: 0;
    top: 200px;
    color: whitesmoke;
}

.fa-chevron-right{
    position: absolute;
    right: 0;
    top: 200px;
    color: whitesmoke;
}

.circle{
    position: absolute;
    top: 400px;
    right: 50%;
   color: whitesmoke;

}

.active{
    color:brown;
}

@media (max-width:500px) {
    .slide {
        position: relative;
        width: 100%;
        height: 30%;
    }
    .arrow{
        display: none;
    }
    .circle{
        display: none;
    }
}

@media (min-width:501px) and (max-width:767px) {
    .slide {
        position: relative;
        width: 100%;
        height: 80%;
    }
    .arrow{
        display: none;
    }
    .circle{
        display: none;
    }
}

@media (min-width:768px) and (max-width:799px) {
    .slide {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .arrow{
        display: none;
    }
    .circle{
        display: none;
    }
}

@media (min-width:768px) and (max-width:1000px) {
    .slide {
        position: relative;
        width: 100%;
        height: 40%;
    }
    .arrow{
        display: none;
    }
    .circle{
        display: none;
    }
}

@media (min-width:1000px) and (max-width:1200px) {
    .slide {
        position: relative;
        width: 100%;
        height: 50%;
    }
}

@media (max-width:400px) {
    .number-input input{
        width: 30px;
    }
    .arrow{
        display: none;
    }
    .circle{
        display: none;
    }
}