* {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
}

.ui-state-highlight{
    background: red;
}

.material-icons{
    float: right;
}

i.material-icons{
    display: none;
}

.ui-state-highlight {
     height: calc(1.5rem + 20px);
     background: whitesmoke;
}

.input-collection{
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        padding: 0px 10px;
}

.danger{
    background-color: #ff4444 !important ;
}
.collection {
    margin: 3rem 0 1rem 0 !important;
    overflow: unset !important;
}

